.white-container {
  background-color: #182131;
  min-height: stretch;
  max-height: max-content;
  height: 70em;
}

.admin-header {
  display: flex;
  justify-content: center;

  .welcome-box {
    font-weight: 100;
  }

  .admin-box {
    font-size: 30px;
    font-weight: 500;
  }
}

.header-box {
  padding-top: 7em;

  p {
    color: white;
    text-align: center;
  }

  h4 {
    text-align: center;
    color: white;
  }

  .logo-wrapper {
    display: flex;
    justify-content: center;

    .logo-box {
      text-align: start;

      img {
        width: 22em;
      }
    }
  }
}

.middle-box {
  display: flex;

  .left-box {
    padding: 3em;

    .left-box-content {
      padding: 2em;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }
  }

  .right-box {
    padding: 3em;

    .right-box-content {
      padding: 2em;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
        0 8px 10px 1px rgba(0, 0, 0, 0.14),
        0 3px 14px 2px rgba(0, 0, 0, 0.12);
    }

  }
}

.movie-card {
  padding: 2em;
  .movie-title {
    display: flex;
    font-size: 23px;

    .icon-trash {
      color: #C76060;
      padding-left: 10px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  p {
    color: white !important;
    font-size: 19px;
    font-weight: 100;
  }

  h3 {
    color: white;
    font-size: 24px;
    font-weight: 400;
  }

  .time-slot {
    display: flex;

    .slot {
      border: 1px solid black;
      border-radius: 5px;
      text-align: center;
      padding: 9px 9px 0px 9px;
      margin-right: 6px;
    }
  }
}

.add-time-slots {
  color: #A4AAB5;
  display: flex;

  &:hover {
    cursor: pointer;
  }

  .slot-icon {
    padding-left: 5px;
  }

  .slot-btn {
    padding-left: 5px;
  }
}

.time-slots-wrapper {
  display: flex;
  padding: 10px;

  .time-slots {
    width: 6em;
    text-align: center;

    p {
      background-color: #EA3939;
      border-radius: 5px;
      color: white;
      padding: 5px;
    }
  }
}

.drop-icon {
  padding-left: 12px;
  color: white;

  &:hover {
    cursor: pointer;
  }
}
