<div class="white-container">
    <div class="header-box">
        <div class="wlecom">
            <p>WELCOME</p>
        </div>
        <div class="col-lg-12 logo-wrapper">
            <div class="logo-box">
                <img src="../../assets/Untitled-1.png" alt=" ciner_logo">
            </div>
        </div>
        <div class="admin-header">
            <h4>Admin</h4>
        </div>
    </div>
    <div class="middle-box">
        <div class="col-lg-6 left-box">
            <div class="left-box-content">
                <div class="movie-card" *ngFor="let movie of allMovies">
                    <div class="movie-title">
                        <h3>{{movie.movie_name}}</h3>
                        <fa-icon class="icon-trash" [icon]="['fas', 'trash']" (click)="deleteMovie(movie)">
                        </fa-icon>
                    </div>
                    <p>{{movie.movie_desc}}</p>
                    <div class="time-slot">
                        <div class="slot" *ngFor="let slot of movie.movie_slots">
                            <p>{{slot.time_slot}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 right-box">
            <div class="right-box-content">
                <app-add-movie></app-add-movie>
            </div>
        </div>

    </div>
</div>