.movie-card-container {
  display: flex;
  padding: 0em 3em 0em 3em;

  .movie-card {
    padding: 0em 3em 0em 0em;

    img {
      width: 100%;
    }

    .movie-content {
      background-color: #151F2E;
      border-radius: 0px 0px 5px 5px;
      padding: 1em 0em 1em 1em;

      .movie-title {
        color: white;
        font-size: 20px;
        font-weight: 500;

        p {
          margin-bottom: 0rem;
        }
      }

      .movie-desc {
        color: #DED9D9;
        font-size: 13px;
        font-weight: 300;

        p {
          margin-bottom: 0rem;
        }
      }

      .movie-slots {
        display: flex;

        .slot {
          color: #DED9D9;
          padding: 10px;

          p {
            border: 1px solid #f5eded;
            border-radius: 5px;
            padding: 5px;

            &:hover {
              cursor: pointer;
              background-color: #404b5a;
            }
          }
        }
      }
    }
  }
}

.movie-slots-heading {
  padding-top: 10px;
  color: white;
}
