<div class="white-container">
    <div class="header-box">
        <div class="col-lg-4 logo-wrapper">
            <div class="logo-box">
                <img src="../../assets/Untitled-1.png" alt=" ciner_logo">
            </div>
        </div>
        <div class="col-lg-4 nav-btn-wrapper">

        </div>
        <div class="col-lg-4 profile-wrapper">
            <div class="profile-content">
                <div class="profile-details-box">
                    <h4>Vimukthi Gunarathna</h4>
                </div>
                <div class="profile-img-box" routerLink="/admin" routerLinkActive="active">
                    <div class="profile-img"></div>
                    <div class="icon">
                        <!-- <fa-icon [icon]="['fas', 'cog']"></fa-icon> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="cover-box">
    </div>
    <div class="middle-box">

    </div>
</div>