.white-container {
  background-color: #0F0F10;
  min-height: stretch;
  max-height: max-content;
}

.header-box {
  display: flex;
  background-color: #182131;
}

.logo-wrapper {
  position: relative;

  .logo-box {
    text-align: start;

    img {
      width: 13em;
    }
  }
}

.profile-wrapper {
  text-align: end;

  .profile-content {
    display: flex;
    justify-content: flex-end;
    padding: 12px 10px 10px 10px;

    .profile-img-box {
      position: relative;

      .profile-img {
        width: 4em;
        height: 4em;
        background-image: url("../../assets/prof.jpg");
        border-radius: 50%;
        background-size: cover;
      }
    }

    .profile-details-box {
      text-align: start;
      padding: 0px 10px 0px 0px;
      position: relative;
      font-size: 20px;
      color: white;
      font-weight: 100;

      position: absolute;
      top: 18px;
      right: 92px;
    }
  }

  .icon {
    
  }

  .drop-icon {
    position: absolute;
    top: 20px;
    right: 7px;
    font-size: 19px;
    color: white;
    
    padding-left: 12px;
    color: white;

    &:hover {
      cursor: pointer;
    }
  }
}

.cover-box {
  display: flex;
  justify-content: center;

  .cover-img {}
}

.middle-box {
  padding: 10px 45px 0px 45px;

  .middle-box-topic {
    color: white;
    font-size: 27px;
    font-weight: 400;
    padding: 1em;
  }
}
