.white-container {
  background-color: white;
  min-height: stretch;
  max-height: max-content;
}

.header-box {
  display: flex;
  background-color: #182131;
}

.logo-wrapper {
  position: relative;

  .logo-box {
    text-align: start;

    img {
      width: 13em;
    }
  }
}
.profile-wrapper {
    text-align: end;

    .profile-content {
      display: flex;
      justify-content: flex-end;
      padding: 40px 10px 10px 10px;

      .profile-img-box {
        position: relative;

        .profile-img {
          width: 5em;
          height: 5em;
          background-image: url("../../assets/prof.jpg");
          border-radius: 50%;
          background-size: cover;
        }

        .icon {
          position: absolute;
          top: 53px;
          right: 0px;
          font-size: 24px;
          color: #60CCF4;
        }
      }

      .profile-details-box {
        text-align: start;
        padding: 0px 10px 0px 0px;
        position: relative;

        h4 {
            color: white;
        }

        p {
          color: #60CCF4;
          position: absolute;
          top: 30px;
        }
      }
    }
  }