.white-container {
  background: rgb(61, 61, 65);
  background: linear-gradient(180deg, rgba(61, 61, 65, 0.9626225490196079) 0%, rgba(21, 21, 23, 1) 49%);
  min-height: stretch;
  max-height: max-content;
}

.header-box {
  z-index: 9;
  display: flex;
  justify-content: center;
  height: 50em;
}

.top-nav-wrapper {
  top: 1em;
  position: absolute;
  width: 85%;
  background-color: #182131;
  box-shadow: 0px 3px 13px 12px #212020a6;
  position: relative;
  z-index: 9;
  border: 1px solid #58505000;
  border-radius: 4em;
  height: 5em;
}

.logo-wrapper {
  position: relative;

  .logo-box {
    text-align: start;

    img {
      width: 13em;
    }
  }
}

.cover-box-wrapper {
  position: absolute;
  //padding: 3em 4em 1em 4em;
}

.middle-box {
  padding: 10px 45px 0px 45px;

  .middle-box-topic {
    color: white;
    padding: 1em;

    h1 {
      font-size: 38px;
      margin-bottom: 5px;
    }

    p {
      font-size: 19px;
      font-style: italic;
    }
  }
}
