<div class="movie-card-container row">
    <div class="movie-card" *ngFor="let movie of allMovies">
        <!--Card-->
        <mdb-card cascade="true" wider="true">
            <!--Card image-->
            <div class="view view-cascade overlay waves-light" mdbWavesEffect>
                <mdb-card-img src="../../../assets/thumbnail.png">
                </mdb-card-img>
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>
            <!--/Card image-->
            <mdb-card-body cascade="true" class="text-center">
                <h4 class="card-title">
                    <strong>{{movie.movie_name}}</strong>
                </h4>
                <mdb-card-text>
                    {{movie.movie_desc}}
                </mdb-card-text>
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups"
                    *ngFor="let slot of movie.movie_slots">
                    <div class="btn-group mr-2" role="group" aria-label="First group" data-toggle="modal"
                        data-target="#basicExample" mdbWavesEffect (click)="bookMovieServiceUpdate(movie,slot)">
                        <button mdbBtn type="button"
                            style="color: white; box-shadow: 0 2px 5px 0 rgb(0 0 0 / 55%), 0 2px 10px 0 rgba(0,0,0,.12);"
                            class="waves-light" mdbWavesEffect>{{slot.time_slot}}</button>
                    </div>
                </div>
                <app-book-movie></app-book-movie>
            </mdb-card-body>
        </mdb-card>
    </div>
</div>